<%= bootstrap_form_for(@stock, layout: :horizontal, label_col: 'col-sm-2 col-form-label', control_col: 'col-sm-10') do |f| %>

    <%= f.text_field :symbol, label: "Simbolo" %>
    <%= f.text_field :name, label: "Nome" %>
    <%= f.number_field :dividend, label: "Dividendo" %>
    <%= f.text_field :market, label: "Mercato" %>

  <div class='form-group row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-10'>
      <%= f.submit 'Invia', class: 'btn btn-primary' %>
      <%= back_link class: 'btn btn-default pull-right' %>
    </div>
  </div>

<% end %>
